  .container {
    height: 80vh;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .card {
    position: absolute;
    max-width: 700px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #e9ecef;
    justify-content: center;
  }

  header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
  }

  .card-body{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
  }
  nav {
    background-color: #0d6efd;
    color: #fff;
    padding: 15px 15px 10px ;
    display: flex;
    justify-content: space-between;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  nav li {
    list-style: none;
  }

  nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
  }

  nav li a:hover {
    color: yellow;
    text-decoration: none;
  }

  .avatar-ctn {
    background-color: orange;
    text-align: center;
  }

  .avatar {
    width: 65%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }